
<form action="/users/signup" method="POST">
      <select class="contact-form__item" name="source" id="source">
        <option value="">choisir</option>
        <option value="paris">paris</option>
        <option value="tokyo">tokyo</option>
        <option value="los angeles">los angeles</option>
     </select>
    <input type="email" placeholder="Votre email" name="email">
    <input type="password" placeholder="Votre mot de passe" name="password">
    <button type="submit">Envoyer</button>
</form>
